@charset "UTF-8";
/* CSS Document */

.hideClass{
  width: 1px;  height: 1px;
  font-size: 0;  line-height: 0;
  position: absolute;  visibility: hidden;
}

@font-face{
	font-family:'webfont01';
	src:url('../font/Neo Sans Pro Light.eot') format('embedded-opentype');
	src:url('../font/Neo Sans Pro Light.eot') format('embedded-opentype'),
			url('../font/Neo Sans Pro Light.ttf') format('truetype');
								}

img{max-width: 100%;}


body{
  background: url(../images/header_back.png) repeat-x center top,
              url(../images/footer_back.png) repeat-x center bottom,
              #3a3230;
}

div#wrap{width: 100%;}
/* header */

header{
  /* width:auto */
   height: 121px;
   background-color: rgba(255,255,255,0.13);
   box-shadow: 0 10px 38px rgba(0,0,0,0.55) ;
}
header>div{
  width:100%; /*1200px;*/
  margin: 0 auto;
  padding-top: 30px;
}
header>div>h1{
  float: left;
}
/* nav */
nav{float: right;}
nav>ul{}
nav>ul>li{
  display: inline-block;
  margin-left:30px;}
nav>ul>li>a{
  font:16px Arial,sans-serif;
  color:#fff;
}

nav>p#close{
  display: none;
}
header>div>p#btn{
  display: none;
}


/* section */

section{
  padding: 68px 0 168px;
}

section>h3{
  margin-bottom: 120px;
  font:72px 'webfont01', sans-serif;
  color:#fff;
  text-align: center;
}

section>form{
  width: 1070px;
  margin: 0 auto;
  padding: 150px 0 90px;
  background-color: rgba(225,255,255,0.3);
}

section>form>fieldset{
  width: 89.626168%;/*959px;*/
  margin:0 auto;
}

section>form>fieldset:first-child{
  margin-bottom: 44px;
}

section>form ul{}

section>form ul>li{
  margin-bottom: 35px;
  padding-left: 78px;
  position: relative;
}

section>form ul>li:last-child{
    margin-bottom: 0;
  }


section>form ul>li>label{
  display: block;
  position: absolute;
  left: 0; top: 0;
  width: 78px; height: 50px;
  background:#f69d20 url('../images/contact_icon_01.png') no-repeat center;
  border-radius: 8px 0 0 8px;
  text-indent: -9999px;
}

section>form ul>li:nth-child(2)>label{
  background-image: url('../images/contact_icon_02.png');
}

section>form ul>li:nth-child(3)>label{
  background-image: url('../images/contact_icon_03.png');
}
section>form ul>li:nth-child(4)>label{
  background-image: url('../images/contact_icon_04.png');
}

section>form ul>li>input{
width: 100%; height: 50px;
box-sizing: border-box;
font-size: 20px;
text-indent:16px;
border: none;
}

section>form ul>li>textarea{
  width: 100%; height: 160px;
  box-sizing: border-box;
  font-size: 20px;
  text-indent: 16px;
  border: none;
}

section>form p{text-align: right;}
section>form p>input{
  width: 156px; height: 50px;
  background-color:#f69d20;
  border-radius: 10px;
  color: #fff;
  border: none;
  font-size: 30px;
}

/* asied */

aside{
  width:100%; /*1200px*/
  margin: 0 auto 48px;
  overflow: hidden;
}

aside>dl{
  width: 25%;
  float: left;
  padding-right: 40px;
  box-sizing: border-box;
}
aside>dl>dt{
  margin-bottom: 15px;
  font: bold 18px Arial,sans-serif;
  color: #fff;
}

aside>dl>dd{
  font: 12px Arial,sans-serif;
  color: #fff;
}
aside>dl>dd>a{color: #fff;}

/* footer */

footer{
  clear: left;
  text-align: center;
  padding-bottom: 15px;
  color: #fff;
  font: 12px Arial, sans-serif;
}

footer>address{
  margin-bottom: 10px;
  font-style: normal;
}

footer>address>p{
  display: inline-block;
  margin: 0 5px;
}

footer>address>p>dfn{
  font-style: normal;
  padding-right: 10px;
}
footer>address>p>a{
  color: #fff;
}

footer>small{}
